@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html{
		scroll-behavior: smooth;
		scroll-padding-top: 116px;
	}
	
  h1 {
    @apply text-3xl font-bold md:text-4xl font-primary;
  }

  h2 {
    @apply text-2xl font-bold md:text-3xl font-primary;
  }

  h3 {
    @apply text-xl font-bold md:text-2xl font-primary;
  }

  h4 {
    @apply text-lg font-bold font-primary;
  }

  p {
    @apply font-primary;
  }

  body {
    @apply text-sm font-primary md:text-base;
  }

  .layout {
    @apply w-11/12 mx-auto;
  }
}

.gradient {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.gradient-footer {
  background: linear-gradient(to right, #ff8177 5%, #b12a5b 95%);
}

.blob-loader {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}
.blob-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #168ae8 content-box;
  box-sizing: border-box;
  border-top: 15px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.path-0 {
  animation: pathAnim-0 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 65.37684644452078,173.7107523187908 130.75369288904156,181.4215046375816 192,183 C 253.24630711095844,184.5784953624184 310.3620748883545,180.02473376846447 391,173 C 471.6379251116455,165.97526623153553 575.7980075575404,156.47956028856066 643,153 C 710.2019924424596,149.52043971143934 740.4458948814838,152.05702507729302 810,150 C 879.5541051185162,147.94297492270698 988.4184129165237,141.29233940226726 1055,130 C 1121.5815870834763,118.70766059773275 1145.8804534524218,102.77361731363793 1203,108 C 1260.1195465475782,113.22638268636207 1350.0597732737892,139.61319134318103 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 54.5221573342494,169.09790450017175 109.0443146684988,172.19580900034353 181,161 C 252.9556853315012,149.80419099965647 342.3448986602542,124.31466849879767 422,122 C 501.6551013397458,119.68533150120233 571.5760906904843,140.5455170044658 640,142 C 708.4239093095157,143.4544829955342 775.3507385778084,125.50326348333905 843,121 C 910.6492614221916,116.49673651666095 979.0209549982824,125.44142906217797 1040,146 C 1100.9790450017176,166.55857093782203 1154.565441429062,198.73102026794916 1220,204 C 1285.434558570938,209.26897973205084 1362.717279285469,187.63448986602543 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 59.39539677086911,191.30333218825146 118.79079354173822,216.60666437650292 181,208 C 243.20920645826178,199.39333562349708 308.2322226039162,156.87667468223975 379,148 C 449.7677773960838,139.12332531776025 526.2803160425971,163.886636894538 600,162 C 673.7196839574029,160.113363105462 744.6465132256957,131.57677773960836 821,121 C 897.3534867743043,110.42322226039163 979.1336310546205,117.80625214702852 1042,127 C 1104.8663689453795,136.19374785297148 1148.8189625558227,147.19821367227757 1212,154 C 1275.1810374441773,160.80178632772243 1357.5905187220887,163.4008931638612 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 86.49330127104088,141.8007557540364 172.98660254208176,117.60151150807282 230,120 C 287.01339745791824,122.39848849192718 314.54689110271386,151.39470972174513 376,169 C 437.45310889728614,186.60529027825487 532.8258330470628,192.81964960494673 608,197 C 683.1741669529372,201.18035039505327 738.1497767090348,203.32669185846788 800,194 C 861.8502232909652,184.67330814153212 930.5750601167983,163.87358296118174 999,146 C 1067.4249398832017,128.12641703881826 1135.5499828237719,113.17897629680522 1209,117 C 1282.4500171762281,120.82102370319478 1361.2250085881142,143.4105118515974 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 65.37684644452078,173.7107523187908 130.75369288904156,181.4215046375816 192,183 C 253.24630711095844,184.5784953624184 310.3620748883545,180.02473376846447 391,173 C 471.6379251116455,165.97526623153553 575.7980075575404,156.47956028856066 643,153 C 710.2019924424596,149.52043971143934 740.4458948814838,152.05702507729302 810,150 C 879.5541051185162,147.94297492270698 988.4184129165237,141.29233940226726 1055,130 C 1121.5815870834763,118.70766059773275 1145.8804534524218,102.77361731363793 1203,108 C 1260.1195465475782,113.22638268636207 1350.0597732737892,139.61319134318103 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 68.80316042597045,354.15905187220886 137.6063208519409,375.3181037444177 198,385 C 258.3936791480591,394.6818962555823 310.37787701820685,392.88663689453796 379,376 C 447.62212298179315,359.11336310546204 532.8821710752319,327.1353486774304 613,333 C 693.1178289247681,338.8646513225696 768.0934386808656,382.5719683957403 834,387 C 899.9065613191344,391.4280316042597 956.7440742013057,356.57677773960836 1020,349 C 1083.2559257986943,341.42322226039164 1152.9302645139126,361.1209206458262 1224,363 C 1295.0697354860874,364.8790793541738 1367.5348677430438,348.93953967708694 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 59.31226382686364,347.05015458605294 118.62452765372728,361.1003091721058 193,362 C 267.3754723462727,362.8996908278942 356.8141532119546,350.6489178976297 419,352 C 481.1858467880454,353.3510821023703 516.1188594984542,368.3040192373755 587,378 C 657.8811405015458,387.6959807626245 764.7104087942288,392.1350051528684 841,385 C 917.2895912057712,377.8649948471316 963.0395053246307,359.1559601511508 1015,353 C 1066.9604946753693,346.8440398488492 1125.1315699072484,353.24115424252835 1197,352 C 1268.8684300927516,350.75884575747165 1354.4342150463758,341.8794228787358 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 67.9045001717623,349.46169701133635 135.8090003435246,365.92339402267265 207,343 C 278.1909996564754,320.07660597732735 352.668498797664,257.7681209206458 423,271 C 493.331501202336,284.2318790793542 559.5170044658194,373.0041222947441 630,389 C 700.4829955341806,404.9958777052559 775.2634833390589,348.2153899003779 840,344 C 904.7365166609411,339.7846100996221 959.4290621779455,388.1343181037444 1033,390 C 1106.5709378220545,391.8656818962556 1199.0202679491586,347.2473376846445 1270,330 C 1340.9797320508414,312.7526623153555 1390.4898660254207,322.8763311576778 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 88.3833734111989,359.41909996564755 176.7667468223978,385.8381999312951 237,391 C 297.2332531776022,396.1618000687049 329.3163861216077,380.06630024046717 393,348 C 456.6836138783923,315.93369975953283 551.9677086911714,267.89659910683616 633,282 C 714.0322913088286,296.10340089316384 780.8127791137066,372.34730333218823 831,371 C 881.1872208862934,369.65269666781177 914.7811748540021,290.7141875644108 991,290 C 1067.218825145998,289.2858124355892 1186.062521470285,366.79594641016837 1268,387 C 1349.937478529715,407.20405358983163 1394.9687392648575,370.1020267949158 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 68.80316042597045,354.15905187220886 137.6063208519409,375.3181037444177 198,385 C 258.3936791480591,394.6818962555823 310.37787701820685,392.88663689453796 379,376 C 447.62212298179315,359.11336310546204 532.8821710752319,327.1353486774304 613,333 C 693.1178289247681,338.8646513225696 768.0934386808656,382.5719683957403 834,387 C 899.9065613191344,391.4280316042597 956.7440742013057,356.57677773960836 1020,349 C 1083.2559257986943,341.42322226039164 1152.9302645139126,361.1209206458262 1224,363 C 1295.0697354860874,364.8790793541738 1367.5348677430438,348.93953967708694 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
}

.wave-down {
  display: block;
  margin-bottom: -3px;
}

.wave-up {
  display: block;
  margin-top: -3px;
}

.magnet {
  transition: transform 0.15s linear;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff8177;
}

.loader-box {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 5rem;
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  border-radius: 150px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loaderSize 2.5s infinite ease-in-out,
    loaderColor 7.5s infinite ease-in-out;
  color: #9356dc;
  box-shadow: 0 0 15px #fff;
}

@keyframes loaderSize {
  0% {
    transform: scale(1) rotate(0);
  }
  16% {
    transform: scale(0) rotate(0);
  }
  50% {
    transform: scale(1) rotate(0);
  }
  80% {
    transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}
@keyframes loaderColor {
  5% {
    color: #9356dc;
  }
  10% {
    color: #ff79da;
  }
  39% {
    color: #ff79da;
  }
  40% {
    color: #99e2d0;
  }
  70% {
    color: #99e2d0;
  }
  80% {
    color: #9356dc;
  }
  100% {
    color: #9356dc;
  }
}

input[type="radio"].css-checkbox {
  display: none;
}

input[type="radio"].css-checkbox:checked + label.css-label {
  background-color: #ff8177;
  color: white;
}

input[type="checkbox"].css-checkbox {
  display: none;
}

input[type="checkbox"].css-checkbox:checked + label.css-label {
  background-color: #ff8177;
  color: white;
}
